@page "/editproduct/{Id:guid}"
@inject IMediator Mediator
@inject NavigationManager NavigationManager

@using SMEAdapter.Application.DTOs
@using SMEAdapter.Application.Products.Queries.GetProducts
@using SMEAdapter.Application.Products.Queries.GetProductById
@using SMEAdapter.Application.Products.UpdateProduct

@if (product == null)
{
    <p><em>Loading product...</em></p>
}
else
{
<MudGrid>
<MudItem xs="12" sm="12" md="6">
 <MudPaper Class="pa-6 ma-4" Elevation="8" Style="border: 1px solid lightgray; border-radius: 8px;">
    <EditForm Model="@product" OnValidSubmit="HandleValidSubmit">
        <DataAnnotationsValidator />
        <ValidationSummary />

       
            <MudText Typo="Typo.h5">Manufacturer Info</MudText>
            <MudTextField T="string" Label="Manufacturer Name" @bind-Value="product.ManufacturerName" />
            <MudDivider Class="my-4" />

             <MudText Typo="Typo.h5">Address Info</MudText>
            <MudTextField T="string" Label="Zip Code" @bind-Value="product.AddressInfo.ZipCode" />
            <MudTextField T="string" Label="City" @bind-Value="product.AddressInfo.City" />
            <MudTextField T="string" Label="Country" @bind-Value="product.AddressInfo.Country" />
            <MudDivider Class="my-4" />

            <MudText Typo="Typo.h5">Product Info</MudText>
            <MudTextField T="string" Label="Product Designation" @bind-Value="product.ProductInfo.ProductDesignation" />
            <MudTextField T="string" Label="Product Root" @bind-Value="product.ProductInfo.ProductRoot" />
            <MudTextField T="string" Label="Product Family" @bind-Value="product.ProductInfo.ProductFamily" />
            <MudTextField T="string" Label="Product Type" @bind-Value="product.ProductInfo.ProductType" />
            <MudTextField T="string" Label="Order Code" @bind-Value="product.ProductInfo.OrderCode" />
            <MudTextField T="string" Label="Article Number" @bind-Value="product.ProductInfo.ArticleNumber" />
            <MudTextField T="string" Label="Serial Number" @bind-Value="product.SerialNumber" />
            <MudDivider Class="my-4" />

            <MudButton Color="Color.Primary" Variant="Variant.Filled" ButtonType="ButtonType.Submit">Save</MudButton>
            <MudButton Color="Color.Secondary" Variant="Variant.Text" OnClick="Cancel">Cancel</MudButton>
                
    </EditForm>
</MudPaper>
</MudItem>
</MudGrid>
}

@code {
    [Parameter] public Guid Id { get; set; }
    private ProductDto? product;

    protected override async Task OnInitializedAsync()
    {
        product = await Mediator.Send(new GetProductByIdQuery(Id));
    }

    private async Task HandleValidSubmit()
    {
        await Mediator.Send(new UpdateProductCommand(product));
        NavigationManager.NavigateTo("/viewproducts");
    }

    private void Cancel()
    {
        NavigationManager.NavigateTo("/viewproducts");
    }
}