@page "/"
@inject NavigationManager Navigation
@using BlazorApp.Components.Product;
@inject SMEAdapter.Application.Services.CompanyInfoService CompanyInfo
@using SMEAdapter.Application.DTOs;
@inject IMediator Mediator
@using SMEAdapter.Application.Companies.CreateCompanies



<MudPaper Class="pa-6 ma-4" Elevation="4">
    <MudText Typo="Typo.h4" GutterBottom="true">
        👋 Welcome to SME Adapter!
    </MudText>
    <MudText Typo="Typo.h6" Class="mb-4">
        Take your first steps: set up your company and your first product.
    </MudText>

    <MudStepper CenterLabels="true" CurrentStepColor="Color.Secondary" @bind-ActiveIndex="_activeIndex" >
        <!-- Step 1: Company Details -->
        <MudStep Title="Company Details" >
            <div style="width : 3000px">
               <CompanyForm OnCompleted="@GoNextStep" />
            </div>
        </MudStep>


        <MudStep Title="First Product">
            @if (CompanyInfo.CurrentCompany != null)
            {
                <div style="width : 1500px">
                   <InitialProductFrom IsFirstProduct="true"></InitialProductFrom>
                </div>
            }
            else
            {
                <MudText Typo="Typo.h6" Color="Color.Error">Please complete company details first.</MudText>
            }
        </MudStep>
    </MudStepper>
</MudPaper>

@code {
    private int _activeIndex = 0;
    private CompanyDto? _company;
    private async Task GoNextStep(CompanyDto company)
    {
        _company = company;

        // Also keep it in the service for consistency
        CompanyInfo.CurrentCompany = company;
        var newId = await Mediator.Send(new CreateCompanyCommand(company));
        _activeIndex++;
        await InvokeAsync(StateHasChanged);
    }


}