@page "/testpage"
@inject NavigationManager Navigation





<MudPaper  Class="pa-16 ma-2" Elevation="8" Style="width: 600px; height: 300px; margin: 50px auto; text-align: center;">
    <MudText Typo="Typo.h4" >Enter Company Details</MudText>
     
    <div style="margin-top: 32px;">
         <MudButton Variant="Variant.Filled" Color="Color.Default" @onclick="ShowForm" Style="background-color:#00796B; color:white; font-size:18px; font-weight: bold;
             font-family: Open Sans;" Size="Size.Large">Start by entering Company Details</MudButton>
    </div>
</MudPaper>




@if (showForm)
{
    <!-- Render the non-routable component when button is clicked -->
    Navigation.NavigateTo("/companyform");
}

@code {
    private bool showForm = false;

    private void ShowForm()
    {
        showForm = true;
    }
}